
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    <div class="box" id="heading">

        <h1 > <%= kindOfDay %>!</h1>

    </div>
    
    <div class="box">
        <% for(let i=0; i<itemos.length;i++) {%>
    <div class="item">
       
        <input type="checkbox">


 

        

   <p><%=itemos[i].task%></p>



<form  method="post" action="/minus" >


    <!-- ver important input type = hidden to include more value -->
<input type="hidden" name="kind" value="<%=kindOfDay%>" > </input>    


            <button type="submit" name="button"  class="minus"   value="<%=itemos[i].task%>" >-</button>
        </form>

        
    </div>
    <% } %>
    <form class="anurag" method="post" action="/">
        <input type="text" name="newitem" placeholder="new item"></input>
    <button type="submit" name ="button" value="<%= kindOfDay%>">+</button>
    </form>





        </div>



        <!-- <h4>to do list </h4> -->
        
        <!-- <ul>
            <li> 
                breakfast
            </li>
            <li>shopping </li>
            <li>lunch</li>
            <% for(var i=0; i<itemos.length;i++) {%>
        
        
        
                <li><%= itemos[i] %></li>
                <%   }   %>
        
        </ul> -->
        
        
    
        <script src="" async defer></script>
    </body>
</html>

